.bubbles {
  max-width: 1400px;
  width: 100%;
  margin: 20px auto;
}
.bubbles__wrapper {
  display: flex;
  gap: 20px;
}
.bubbles__sidebar {
  width: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgb(128, 130, 255);
  background: #fff;
}
.bubbles__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.05);
  border-radius: inherit;
}
.bubbles__header-name {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.bubbles__header-icon {
  width: 32px;
  height: 32px;
  background: radial-gradient(
    73.33% 73.33% at 50% 50%,
    #9db1ff 0,
    #6d3eff 100%
  );
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
}
.bubbles__header-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bubbles__header-shield {
  width: 32px;
  height: 32px;
  background: radial-gradient(
    73.33% 73.33% at 50% 50%,
    #9db1ff 0,
    #6d3eff 100%
  );
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
}
.bubbles__header-shield img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bubbles__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bubbles__field-name {
  font-size: 14px;
  font-weight: 500;
  color: #b6b0d7;
}

.bubbles__field-inner {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  padding: 8px;
}
.bubbles__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bubbles__btn {
  width: 42px;
  height: 38px;
  background: linear-gradient(90deg, #7449e6 0.06%, #69a4ff 98.49%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.bubbles__input {
  width: 100%;
  height: 38px;
  text-align: center;
  border-radius: 4px;
  background: #e7e2f9;
  font-weight: 600;
  font-size: 16px;
}
.bubbles__input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #b6b0d7;
}
input {
  border: 0;
}
input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.bubbles__button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  color: #2c3034;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background: linear-gradient(90deg, #f4a202 0%, #fac257 100%);
  position: relative;
  transition: all 0.2s ease-in-out;
}
.bubbles__button-submit:hover {
  background: linear-gradient(90deg, #f3a913 0%, #f5c46a 100%);
}
.bubbles__button-submit img {
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
}
/*---bubbles__game---*/
.bubbles__main {
  width: calc(100% - 370px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  border-radius: 6px;
  background-color: #fff;
}
.bubbles__result {
  height: 88px;
  padding: 100px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bubbles__game {
  padding: 30px 30px 70px;
  height: 340px;
  position: relative;
}
.bubbles__game_wrapp {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bubbles__game-main {
  width: 430px;
  min-width: 430px;
  height: 214px;
  padding: 24px;
  position: relative;
  z-index: 1;
  background: url("../icons/bubble-img-main.png") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bubbles__game_side {
  position: relative;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bubbles__game_side-center {
  width: 170px;
  height: 170px;
}
.bubbles__game_side img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bubbles__game-dots {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bubbles__game-dots-wrap {
  display: flex;
  align-items: center;
}
.bubbles__game-dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  min-width: 70px;
  transform-origin: center;
}
.bubbles__game-dot::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #7f6fc9;
}
.game_footer {
  margin-top: auto;
  position: relative;
  width: 100%;
  height: 87px;
  border-top: 1px solid #f7f5fe;
}
.result-wrap {
  width: 135px;
  height: 65px;
  border-radius: 6px;
  background: red;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  visibility: hidden;
  transform: rotate(10deg) translate(20px, 20px);
}

.result-wrap.visible {
  transform: rotate(0deg) translate(0, 0);

  opacity: 1;
  visibility: visible;
}
.result-wrap::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);
  border-style: solid;
  border-width: 15px 12px 0;
  border-color: red transparent transparent;
}
.result-ratio {
  color: #fff;
}
.result-winning {
  color: #fff;
}
